@model XORGame.Data.DataTransferEntities.BattleData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Areas/Arena/Content/Arena.css")

@section scripts {
    @Scripts.Render("~/Areas/Arena/Scripts/ArenaHelper.js")
    <script type="text/javascript">
        function setup() {
            arenaHelper.init({
                performActionURL: '@Url.Action("PerformAction", "Home")',
                friendlyTeamID: '@Model.FriendlyTeamID',
                enemyTeamID: '@Model.EnemyTeamID'
            });
        }
        jQuery(document).ready(setup);
    </script>
}

<div class="panel panel-default">
    <div id="board" class="panel-body">
        @Html.Partial("_Board")
    </div>
</div>
<div class="panel panel-default">
    <div id="devtools" class="panel-heading">
        Dev Tools
    </div>
    <div class="panel-body">
        @Html.ActionLink("Reset Battle", "ResetBattle", "Home", null, new { @class = "btn btn-default" })
    </div>
</div>
