@model XORGame.Data.DataTransferEntities.BattleData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Areas/Arena/Content/Arena.css")

@section scripts {
    @Scripts.Render("~/Areas/Arena/Scripts/ArenaHelper.js")
    <script type="text/javascript">
        function setup() {
            arenaHelper.init({
                performActionURL: '@Url.Action("PerformAction", "Home")',
                friendlyTeamID: '@Model.FriendlyTeamID',
                enemyTeamID: '@Model.EnemyTeamID'
            });
        }
        jQuery(document).ready(setup);
    </script>
}

<div id="board" class="panel panel-body">
    @Html.Partial("_Board")
</div>
