@model XORGame.Data.DataTransferEntities.BattleData
@using XORGame.Data.Entities
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Areas/Arena/Content/Arena.css")

@section scripts {
    @Scripts.Render("~/Areas/Arena/Scripts/ArenaHelper.js")
<script type="text/javascript">
        function setup() {
            arenaHelper.init({
                performActionURL: '@Url.Action("PerformAction", "Home")',
                friendlyTeamID: '@Model.FriendlyTeamID',
                enemyTeamID: '@Model.EnemyTeamID',
                boardX: @Constants.BoardX,
                boardY: @Constants.BoardY,
            });
        }
        jQuery(document).ready(setup);
</script>
}

<div id="board" class="mb-3">
    @Html.Partial("_Board")
</div>
<div class="card">
    <div id="devtools" class="card-header">
        Dev Tools
    </div>
    <div class="card-body">
        @Html.ActionLink("Reset Battle", "ResetBattle", "Home", null, new { @class = "card-link" })
    </div>
</div>
